<div id=edit_controls class=landing>
	<????rat:search_form>

	<h2>Create a Stack</h2>
	<form action=action.pl method=post>
		<input type=hidden name=op value=stack_create>

		<label for=stack_create_name>Name</label>
		<input type=text id=stack_create_name name=name><br>

		<input type=submit value=Create>
	</form>
</div>

<div id=view>
	<!-- Latest links from all stacks. -->
	<div>
		<h2>Latest Links</h2>
		<????rat:metastacks>
	</div>

	<!-- Stacks the user owns. -->
	<div class=stack_list>
		<h2>Your Stacks</h2>
		<????rat:stacks>
	</div>

	<!-- Stacks the user can contribute to. -->
	<div class=stack_list>
		<h2>Other Modifiable Stacks</h2>
		<????rat:stacks 1>
	</div>

	<!-- Stacks the user can view, but not modify. -->
	<div class=stack_list>
		<h2>Read-Only Stacks</h2>
		<????rat:stacks 2>
	</div>
</div>
